Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-cloudformation, buildbot-cloudformation-tests, buildbot-discord, buildbot-github, buildbot-github-tests, buildbot-health, buildbot-json, buildbot-servicemodel, buildbot-tests, buildbot-watchtower, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-cloudformation":
 - any: [ 'src/$BuildBot.CloudFormation/**/*' ]
"buildbot-cloudformation-tests":
 - any: [ 'src/$BuildBot.CloudFormation.Tests/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-github-tests":
 - any: [ 'src/$BuildBot.GitHub.Tests/**/*' ]
"buildbot-health":
 - any: [ 'src/$BuildBot.Health/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"buildbot-watchtower":
 - any: [ 'src/$BuildBot.Watchtower/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

Cleanup: DependencyInjectionTests.cs
  src/BuildBot.GitHub.Tests/DependencyInjectionTests.cs
Labels: none

Cleanup: GithubPushNotificationHandler.cs
  src/BuildBot.GitHub/Publishers/GithubPushNotificationHandler.cs
Labels: none

Cleanup: MainBranchDetector.cs
  src/BuildBot.GitHub/Helpers/MainBranchDetector.cs
Labels: none

Cleanup: PackageUpdateDetector.cs
  src/BuildBot.GitHub/Helpers/PackageUpdateDetector.cs
Labels: none

Cleanup: MainBranchDetectorTests.cs
  src/BuildBot.GitHub.Tests/Helpers/MainBranchDetectorTests.cs
Labels: none

Cleanup: PackageUpdateDetectorTests.cs
  src/BuildBot.GitHub.Tests/Helpers/PackageUpdateDetectorTests.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[PR] Updated labels
  .github/labels.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Updated DotNet SDK to 10.0.100-preview.6.25358.103
  src/global.json
Labels: .NET update

reduced deps
  src/BuildBot.CloudFormation.Tests/BuildBot.CloudFormation.Tests.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Health/BuildBot.Health.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
Labels: C# Project

Cleanup: BuildBot.CloudFormation.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
Labels: C# Project

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

Don't re-throw as this breaks the channel
  src/BuildBot.Discord/Services/DiscordBot.cs
Labels: none

Revert
  src/BuildBot.Discord/Services/DiscordBot.cs
Labels: none

Reconnecting
  src/BuildBot.Discord/Services/DiscordBot.cs
Labels: none

Cleanup: DiscordBot.cs
  src/BuildBot.Discord/Services/DiscordBot.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions
