Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-discord, buildbot-github, buildbot-json, buildbot-octopus, buildbot-servicemodel, buildbot-tests, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Build Props] Updated src/FunFair.props
  src/FunFair.props
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.163
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.30.0.95878
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating ThisAssembly.AssemblyInfo (Compiled assembly info as constants) to 1.5.0
  CHANGELOG.md
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Discord.Net (Discord) to 3.15.3
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Octopus.Client (Octopus) to 14.3.1567
  CHANGELOG.md
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.19.498
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.63.604
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.63.604
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.64.606
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.31.0.96804
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Octopus.Client (Octopus) to 14.3.1579
  CHANGELOG.md
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.11.20
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.32.0.97167
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.20.512
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.65.613
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.21.517
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.66.617
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.11.0
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

Fixed code analysis issues
  src/BuildBot.GitHub/Publishers/GithubPushNotificationHandler.cs
  src/BuildBot.GitHub/Publishers/GithubStatusNotificationHandler.cs
  src/BuildBot/Helpers/Endpoints.GitHub.cs
  src/BuildBot/Helpers/Endpoints.Octopus.cs
  src/BuildBot/Helpers/Endpoints.Test.cs
Labels: none

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.22.521
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.67.620
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-octopus":
 - any: [ 'src/$BuildBot.Octopus/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
