Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-discord, buildbot-github, buildbot-json, buildbot-octopus, buildbot-servicemodel, buildbot-tests, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

BuildBot config
  Dockerfile
  cloudformation.json
  src/BuildBot.sln
Labels: C# Solution

Initial CloudFormation template
  cloudformation.json
Labels: none

Changed port
  cloudformation.json
Labels: none

Removed Debug variable
  cloudformation.json
Labels: none

Docker healthcheck
  cloudformation.json
Labels: none

Docker healthcheck
  cloudformation.json
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

removed variable
  cloudformation.json
Labels: none

Healtcheck script
  Dockerfile
  cloudformation.json
  src/BuildBot.sln
Labels: C# Solution

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

Additional variables
  cloudformation.json
Labels: none

Healtcheck command
  healthcheck
Labels: none

Ping
  src/BuildBot/Helpers/Endpoints.Test.cs
Labels: none

updated action
  .github/actions/build/action.yml
Labels: none

More logging
  src/BuildBot.Discord/Services/DiscordBot.cs
  src/BuildBot.Discord/Services/LoggingExtensions/DiscordBotLoggingExtensions.cs
Labels: none

Corrected port number
  healthcheck
Labels: none

Healthcheck
  Dockerfile
  src/BuildBot.Json/Models/PongDto.cs
  src/BuildBot.Json/SerializationContext.cs
  src/BuildBot.sln
  src/BuildBot/BuildBot.csproj
  src/BuildBot/Helpers/Endpoints.Test.cs
  src/BuildBot/Helpers/PingPong.cs
  src/BuildBot/Helpers/ServerStartup.cs
  src/BuildBot/Helpers/TestEndpointContext.cs
  src/BuildBot/Helpers/VersionDetection.cs
  src/BuildBot/MinimalApi.http
  src/publish
Labels: C# Project, C# Solution

Skipping curl in the healthcheck
  healthcheck
Labels: none

Correcting publish
  Dockerfile
  src/publish
Labels: none

Correcting publish
  src/publish
Labels: none

re-enabling healthcheck
  healthcheck
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

Corrected local name
  src/publish
Labels: none

removed tags
  cloudformation.json
Labels: none

VForwardConfig
  cloudformation.json
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-octopus":
 - any: [ 'src/$BuildBot.Octopus/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
