Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-cloudformation, buildbot-cloudformation-tests, buildbot-discord, buildbot-github, buildbot-github-tests, buildbot-health, buildbot-json, buildbot-servicemodel, buildbot-tests, buildbot-watchtower, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-cloudformation":
 - any: [ 'src/$BuildBot.CloudFormation/**/*' ]
"buildbot-cloudformation-tests":
 - any: [ 'src/$BuildBot.CloudFormation.Tests/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-github-tests":
 - any: [ 'src/$BuildBot.GitHub.Tests/**/*' ]
"buildbot-health":
 - any: [ 'src/$BuildBot.Health/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"buildbot-watchtower":
 - any: [ 'src/$BuildBot.Watchtower/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

Removed commented out code
  src/BuildBot.ServiceModel/CloudFormation/SnsMessage.cs
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Updated DotNet SDK to 10.0.100-rc.1.25451.107
  src/global.json
Labels: .NET update

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions
