Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-discord, buildbot-github, buildbot-json, buildbot-octopus, buildbot-servicemodel, buildbot-tests, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-octopus":
 - any: [ 'src/$BuildBot.Octopus/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Linters] Updated .github/linters/.hadolint.yaml
  .github/linters/.hadolint.yaml
Labels: none

Docker lint
  Dockerfile
Labels: none

dotnet 9 target
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

Updated docker to 9
  Dockerfile
Labels: none

9.0.100-rc.1.24452.12
  src/global.json
Labels: .NET update

9.0.100-preview.6.24328.19
  src/global.json
Labels: .NET update

dotnet 9 RC1
  src/global.json
Labels: .NET update

CHangelog
  CHANGELOG.md
Labels: Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/database-deploy/action.yml
  .github/actions/database-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/actions/database-deploy/action.yml
  .github/actions/database-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

More logging
  src/BuildBot/Program.cs
Labels: none

More memory
  cloudformation.json
Labels: none

More memory?
  cloudformation.json
  src/BuildBot/Helpers/Endpoints.Test.cs
  src/BuildBot/Helpers/LoggingExtensions/TestEndpointContextLoggingExtensions.cs
  src/BuildBot/Helpers/TestEndpointContext.cs
Labels: none

More logging
  src/BuildBot/Program.cs
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

More logging
  src/BuildBot/Helpers/Endpoints.GitHub.cs
  src/BuildBot/Helpers/Endpoints.Octopus.cs
  src/BuildBot/Helpers/Endpoints.Test.cs
  src/BuildBot/Helpers/ServerStartup.cs
Labels: none

Changed port
  Dockerfile
  cloudformation.json
  healthcheck
  src/BuildBot/Helpers/ServerStartup.cs
  src/BuildBot/MinimalApi.http
  src/publish
Labels: none

Rolled back to dotnet 8
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.5
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Discord.Net (Discord) to 3.16.0
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Octopus.Client (Octopus) to 14.3.1635
  CHANGELOG.md
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Config] Updated .gitleaks.toml
  .gitleaks.toml
Labels: none

[Actions] Updated .github/actions/docker-setup/action.yml
  .github/actions/docker-setup/action.yml
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.164
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown
