Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-cloudformation, buildbot-cloudformation-tests, buildbot-discord, buildbot-github, buildbot-github-tests, buildbot-health, buildbot-json, buildbot-servicemodel, buildbot-tests, buildbot-watchtower, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-cloudformation":
 - any: [ 'src/$BuildBot.CloudFormation/**/*' ]
"buildbot-cloudformation-tests":
 - any: [ 'src/$BuildBot.CloudFormation.Tests/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-github-tests":
 - any: [ 'src/$BuildBot.GitHub.Tests/**/*' ]
"buildbot-health":
 - any: [ 'src/$BuildBot.Health/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"buildbot-watchtower":
 - any: [ 'src/$BuildBot.Watchtower/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Conditional SBOM
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Health/BuildBot.Health.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

Updated DotNet SDK to 10.0.100-preview.7.25380.108
  src/global.json
Labels: .NET update

Fixed code analysis issues
  src/BuildBot.CloudFormation.Tests/BuildBot.CloudFormation.Tests.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.CloudFormation/CloudformationSetup.cs
  src/BuildBot.CloudFormation/Publishers/CloudFormationMessageReceivedNotificationHandler.cs
  src/BuildBot.CloudFormation/Publishers/CloudFormationSubscriptionConfirmationNotificationHandler.cs
  src/BuildBot.CloudFormation/Services/AwsCloudFormation.cs
  src/BuildBot.CloudFormation/Services/CloudFormationDeploymentExtractor.cs
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.Discord/Services/BotService.cs
  src/BuildBot.GitHub.Tests/BuildBot.GitHub.Tests.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.GitHub/Helpers/PackageUpdateDetector.cs
  src/BuildBot.GitHub/Publishers/GithubPushNotificationHandler.cs
  src/BuildBot.GitHub/Publishers/GithubStatusNotificationHandler.cs
  src/BuildBot.Health/BuildBot.Health.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.ServiceModel/CloudFormation/SnsMessage.cs
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
  src/BuildBot/BuildBot.csproj
  src/BuildBot/Helpers/ServerStartup.cs
Labels: C# Project

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

Turned off setting
  src/BuildBot.CloudFormation.Tests/BuildBot.CloudFormation.Tests.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub.Tests/BuildBot.GitHub.Tests.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Health/BuildBot.Health.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

Cleanup: CloudformationSetup.cs
  src/BuildBot.CloudFormation/CloudformationSetup.cs
Labels: none

Cleanup: CloudFormationMessageReceivedNotificationHandler.cs
  src/BuildBot.CloudFormation/Publishers/CloudFormationMessageReceivedNotificationHandler.cs
Labels: none

Cleanup: CloudFormationSubscriptionConfirmationNotificationHandler.cs
  src/BuildBot.CloudFormation/Publishers/CloudFormationSubscriptionConfirmationNotificationHandler.cs
Labels: none

Cleanup: AwsCloudFormation.cs
  src/BuildBot.CloudFormation/Services/AwsCloudFormation.cs
Labels: none

Cleanup: CloudFormationDeploymentExtractor.cs
  src/BuildBot.CloudFormation/Services/CloudFormationDeploymentExtractor.cs
Labels: none

Cleanup: BotService.cs
  src/BuildBot.Discord/Services/BotService.cs
Labels: none

Cleanup: PackageUpdateDetector.cs
  src/BuildBot.GitHub/Helpers/PackageUpdateDetector.cs
Labels: none

Cleanup: GithubPushNotificationHandler.cs
  src/BuildBot.GitHub/Publishers/GithubPushNotificationHandler.cs
Labels: none

Cleanup: GithubStatusNotificationHandler.cs
  src/BuildBot.GitHub/Publishers/GithubStatusNotificationHandler.cs
Labels: none

Cleanup: SnsMessage.cs
  src/BuildBot.ServiceModel/CloudFormation/SnsMessage.cs
Labels: none

Cleanup: ServerStartup.cs
  src/BuildBot/Helpers/ServerStartup.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

<WarnOnPackingNonPackableProject>false</WarnOnPackingNonPackableProject>
  src/BuildBot.CloudFormation.Tests/BuildBot.CloudFormation.Tests.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub.Tests/BuildBot.GitHub.Tests.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Health/BuildBot.Health.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

Cleanup: BuildBot.CloudFormation.Tests.csproj
  src/BuildBot.CloudFormation.Tests/BuildBot.CloudFormation.Tests.csproj
Labels: C# Project

Cleanup: BuildBot.CloudFormation.csproj
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
Labels: C# Project

Cleanup: BuildBot.Discord.csproj
  src/BuildBot.Discord/BuildBot.Discord.csproj
Labels: C# Project

Cleanup: BuildBot.GitHub.Tests.csproj
  src/BuildBot.GitHub.Tests/BuildBot.GitHub.Tests.csproj
Labels: C# Project

Cleanup: BuildBot.GitHub.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
Labels: C# Project

Cleanup: BuildBot.Health.csproj
  src/BuildBot.Health/BuildBot.Health.csproj
Labels: C# Project

Cleanup: BuildBot.Json.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
Labels: C# Project

Cleanup: BuildBot.ServiceModel.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
Labels: C# Project

Cleanup: BuildBot.Tests.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project

Cleanup: BuildBot.Watchtower.csproj
  src/BuildBot.Watchtower/BuildBot.Watchtower.csproj
Labels: C# Project

Cleanup: BuildBot.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none
