Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-discord, buildbot-github, buildbot-json, buildbot-octopus, buildbot-servicemodel, buildbot-tests, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-octopus":
 - any: [ 'src/$BuildBot.Octopus/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.165
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.166
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.167
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.168
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.1
  CHANGELOG.md
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.6
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Dependencies] Updating Octopus.Client (Octopus) to 14.3.1646
  CHANGELOG.md
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

Cloudformation
  src/BuildBot.CloudFormation/BuildBot.CloudFormation.csproj
  src/BuildBot.CloudFormation/CloudformationSetup.cs
  src/BuildBot.sln
  src/BuildBot/BuildBot.csproj
  src/BuildBot/Helpers/Endpoints.CloudFormation.cs
  src/BuildBot/Helpers/Endpoints.cs
  src/BuildBot/Helpers/ServerStartup.cs
Labels: C# Project, C# Solution

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.402
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown
