Repository funfair-tech/BuildBot, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, buildbot, buildbot-discord, buildbot-github, buildbot-json, buildbot-octopus, buildbot-servicemodel, buildbot-tests, C#, C# Project, C# Solution, Change Log, Config Change, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"buildbot":
 - any: [ 'src/$BuildBot/**/*' ]
"buildbot-discord":
 - any: [ 'src/$BuildBot.Discord/**/*' ]
"buildbot-github":
 - any: [ 'src/$BuildBot.GitHub/**/*' ]
"buildbot-json":
 - any: [ 'src/$BuildBot.Json/**/*' ]
"buildbot-octopus":
 - any: [ 'src/$BuildBot.Octopus/**/*' ]
"buildbot-servicemodel":
 - any: [ 'src/$BuildBot.ServiceModel/**/*' ]
"buildbot-tests":
 - any: [ 'src/$BuildBot.Tests/**/*' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Config] Updated .editorconfig
  .editorconfig
Labels: none

[Config] Updated .editorconfig
  .editorconfig
Labels: none

[Config] Updated .editorconfig
  .editorconfig
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.161
  CHANGELOG.md
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project, Change Log, Markdown

NuGetAuditMode
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

Fixed code analysis issues
  src/BuildBot.GitHub/Publishers/GithubPushNotificationHandler.cs
  src/BuildBot.Octopus/Publishers/OctopusDeployNotificationHandler.cs
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Config] Updated .editorconfig
  .editorconfig
Labels: none

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

dotnet 9 target
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
  src/BuildBot/BuildBot.csproj
Labels: C# Project

9.0.100-preview.6.24328.19
  src/global.json
Labels: .NET update

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

<NuGetAuditMode>direct</NuGetAuditMode>
  src/BuildBot.Discord/BuildBot.Discord.csproj
  src/BuildBot.GitHub/BuildBot.GitHub.csproj
  src/BuildBot.Json/BuildBot.Json.csproj
  src/BuildBot.Octopus/BuildBot.Octopus.csproj
  src/BuildBot.ServiceModel/BuildBot.ServiceModel.csproj
  src/BuildBot.Tests/BuildBot.Tests.csproj
Labels: C# Project
